.player-controlpanel-button {
  color: white;
  background-color: transparent;
  border-style: hidden;
  cursor: pointer;
  font-size: 20px;
  line-height: 130%;
  margin-right: 4px;
  margin-left: 3px;
  width: 30px;
  height: 30px;
}

.player-video {
  flex-grow: 1;
}

.player-controlpanel {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  height: 44px;
}

.player{
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 55%);
  margin-top: -2px;
  margin-left: -2px;
}

.player-controlpanel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  margin-top: 2px;
}

.player-controlpanel-container-progress {
  flex-grow: 1;
  padding-left: 10px;
}

.player-controlpanel-container-progress-progressbar {
  background-color: black;
  display: flex;
  align-items: center;
}

.player-controlpanel-container-progress-progressbar-slider {
  height: 5px;
  background-color: #f8104d;
  display: flex;
  border-radius: 2px;
  cursor: pointer;
}

.player-controlpanel-container-timer {
  color: white;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.player-controlpanel-container-progress-progressbar-dot {
  height: 8px;
  width: 8px;
  background-color: #f8104d;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  border: white;
  border-width: 3px;
  border-style: solid;
  margin-left: -8px;
  opacity: 0;
  transition: opacity 300ms ease-out;
  box-shadow: 0px 0px 5px 1px;
}

.player-controlpanel-container-progress:hover .player-controlpanel-container-progress-progressbar-dot {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.body {
  margin: 8px;
}
